.profpic {
  float: left;
  padding-top: 27px;
  padding-right: 20px;
  padding-left: 30px
}

.subheadbanner {
  font-weight: normal;
  padding-left: 142px;
}

.greylist {
  color: #7D7D7D;
}

em {
  color: black;
}

ul {
  padding-bottom: 8px;
  list-style-type: none;
}

ol {
  padding-bottom: none;
  list-style-type: none;
}

strong {
  color: #CC260A;
  font-weight: normal;
  font-style: italic;
}

.strongb {
  color: #CC260A;
  font-weight: normal;
}

.border {
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

.brpad {
  padding-bottom: 5px;
}
